<template>
  <div>
    <div class="container pt-3">
      <breadcrumbs
        :items="{
          Organizations: { path: `/organizations` },
          Organization: {
            path: `/organizations/1`,
          },
          Users: {
            path: `/organizations/1/users`,
          },
          'John Doe': true,
        }"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: 'Home',
  data() {
    return {};
  },
  methods: {},
};
</script>
