<template>
  <nav aria-label="breadcrumb">
    <b-breadcrumb :items="itemsArray" class="mb-0" />
  </nav>
</template>

<script>
export default {
  name: 'TopBreadcrumbs',
  props: {
    items: {
      type: Object,
      required: true,
    },
  },
  computed: {
    itemsArray() {
      const keys = Object.keys(this.items);
      return keys.map((item, index) => {
        if (keys.length === index + 1) {
          return {
            text: item,
            active: this.items[item],
            ariaCurrent: 'page',
          };
        }
        return {
          text: item,
          to: this.items[item],
          exact: true,
        };
      });
    },
  },
};
</script>
